@font-face {
  font-family: "Demons";
  src: url("fonts/OvermindDemons-GO10y.ttf");
}
@font-face {
  font-family: "Chavier";
  src: url("fonts/ChavlerExtruderightDemo-lxM9d.otf");
}
@font-face {
  font-family: "Grave";
  src: url("fonts/Gravedigger-8BOZ.ttf");
}
@font-face {
  font-family: "Altron";
  src: url("assets/fonts/AltronedtrialRegular-E4pYl.otf");
}
.list-group-item {
  background-image: url("assets/images/1.png");
  background-color: rgba(252, 45, 131, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: large;
  opacity: 80%;
  text-shadow: 4px 2px 4px rgb(238, 16, 16);
}

nav a {
  font-family: "Altron";
}

h3 {
  font-family: "Grave";
  padding: 2%;
  color: rgb(228, 80, 178);
  text-shadow: 4px 2px rgb(80, 72, 136);
  font-size: 34px;
  background-color: rgb(34, 31, 39);
  border: 2px solid rgb(214, 128, 96);
}

h2 {
  font-family: "Demons";
}

h1 {
  display: inline-block;
  font-family: "Demons";
  color: rgb(238, 232, 225);
  text-shadow: 1px 3px rgb(110, 71, 39);
  padding: 1%;
  box-shadow: 3px 0px red;
  border-radius: 4px;
  border: 3px solid yellowgreen;
  background-color: rgba(221, 238, 238, 0.5);
}

p {
  color: aliceblue;
}

p {
  font-family: "Altron";
  font-size: 45px;
  color: rgb(223, 192, 150);
  text-shadow: 1px 3px rgb(161, 82, 18);
  padding: 1% 1%;
  box-shadow: 3px 0px red;
  border-radius: 4px;
  border: 3px solid rgb(97, 50, 205);
  background-image: linear-gradient(rgb(32, 29, 30), rgb(63, 0, 60), teal);
}

body {
  background-color: rgba(10, 6, 15, 0.623);
}

button:hover,
input:hover,
h1:hover,
h2:hover,
h3:hover,
p:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(88, 255, 82);
}

button {
  font-family: "Altron";
  font-size: 35px;
  color: rgb(9, 20, 17);
  text-shadow: 1px 3px rgb(221, 197, 88);
  padding: 1% 2%;
  box-shadow: 3px 0px red;
  border-radius: 8px;
  border: 3px solid rgb(187, 50, 205);
  background-image: linear-gradient(rgb(170, 118, 131), rgb(81, 235, 20), rgb(202, 167, 12));
}

input {
  font-family: "Altron";
  font-size: 25px;
  color: rgb(9, 20, 17);
  text-shadow: 1px 3px rgb(221, 197, 88);
  padding: 1% 2%;
  margin: 1%;
  box-shadow: 3px 0px red;
  border-radius: 8px;
  border: 7px solid rgb(14, 121, 33);
  background-image: linear-gradient(rgb(170, 118, 131), rgba(81, 235, 20, 0.534), rgb(202, 167, 12));
}

.radius {
  border-radius: 8px;
}

.duh {
  display: inline-block;
  font-family: "Grave";
  color: rgb(253, 198, 126);
  text-shadow: 1px 3px rgb(110, 71, 39);
  padding: 1%;
  box-shadow: 3px 0px red;
  border-radius: 8px;
  border: 3px solid yellowgreen;
  background-image: linear-gradient(to left, rgb(253, 0, 63), rgb(63, 0, 60), teal);
}

output {
  font-family: "Grave";
  color: rgb(151, 138, 120);
  text-shadow: 1px 3px rgb(126, 72, 27);
  padding: 1% 1%;
  box-shadow: 3px 0px red;
  border-radius: 4px;
  border: 3px solid rgb(97, 50, 205);
  background-image: linear-gradient(rgb(32, 29, 30), rgb(63, 0, 60), teal);
}

.silly,
.silly2 {
  font-family: "Demons";
  color: rgb(253, 198, 126);
  text-shadow: 1px 3px rgb(110, 71, 39);
  padding: 1%;
  box-shadow: 3px 0px red;
  border-radius: 8px;
  border: 3px solid yellowgreen;
  background-image: linear-gradient(to left, rgb(253, 0, 63), rgb(63, 0, 60), teal);
}/*# sourceMappingURL=styles.css.map */